<article>
  <h1>Hello World and AIIT!!</h1>
  <p>
  The time is now: <%= Time.now %>
  </p>

  <a href='/my'>My page</a>|
  <a href='/user/<%= current_user.username %>'>My Resume</a><br />
  <%= form_tag('/', method:"get") do %>
    <select name="language_id">
      <% Language.all.each do |lang| %>
        <% if lang[:id] == params[:language_id].to_i %>
          <option value="<%= lang[:id] %>" selected><%= lang[:code] %></option>
        <% else %>
          <option value="<%= lang[:id] %>"><%= lang[:code] %></option>
        <% end %>
      <% end %>
    </select>
    <%= submit_tag(['Search']) %>
  <% end %>
  <% @resumes.each do | resume| %>
    <% if @current_user.id != resume.owner_id %>
      <% @users.each do | user| %>
        <% if user.id == resume.owner_id %>
          <a href='/user/<%= user.username %>'><%= user.username %></a><br />
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</article>
