<article>
  <h1>Hello World and AIIT!!</h1>
  <p>
  The time is now: <%= Time.now %>
  </p>

  <%= link_to "My Page", user_path(username: current_user.username) %>|
  <%= link_to "My Resume", user_resumes_path(user_username: current_user.username) %>
  <%= form_tag('/', method:"get") do %>
    <%= select(:language, :id, Language.all.map {|lang| [lang.code, lang.id]}, selected: @selected_lang) %>
    <%= submit_tag(['Search']) %>
  <% end %>
  <% @user_list.each do | user | %>
    <%= link_to user.username, user_path(username: user.username) %>|
  <% end %>
</article>
