<div class="container-fluid">
  <div class="row-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title"><%= @user.username %>'s Page</h1>
      </div>
    </div>
    <div class="left-col col-md-7">
      <div class="left-title">
        <h2>Resume Data</h2>
      </div>
      <p>
        <h4><%= t :users_resume, user: @user.username %>
          <span class="glyphicon glyphicon-arrow-right" area-hidden='true'></span>
        <% if @resumes.length == 0 %>
          <% if @user.id == current_user.id %>
            <%= link_to t('New Resume'), new_user_resume_path(user_username:current_user.username), class: 'btn btn-default' %>
          <% else %>
            <span class="btn btn-default" disabled="disabled"><%= t('No_Resume') %></span>
          <% end %>
        <% else %>
            <%= link_to t('Go to Resume Page'), user_resumes_url(user_username: @user.username), class: 'btn btn-info' %>
        <% end %>
        </h4>

        <h4><%= t('Translations') %> <span class="badge"><%= @theirtranslateds.length %></span></h4>
        <% @theirtranslateds.each do |t| %>
          <li>
            <%= t('Language') %>: <%= t.written_language.code %> - <%= t('Translator') %>:
            <%= link_to t.translator.username || 'nowhere man', user_resumes_url(user_username: t.translator.username) %>
          </li>
        <% end %>
      </p>

      <br />
      <p>
        <h4><%= t :users_translations, user: @user.username %> <span class="badge"><%= @theirtranslations.length %></span></h4>
        <% @theirtranslations.each do |t| %>
          <li>
            <%= link_to t.owner.username || 'nowhere man', user_resumes_url(user_username: t.owner.username) %>
            - <%= t('Language') %>: <%= t.written_language.code %>
          </li>
        <% end %>
      </p>

    </div>
    <div class="right-col col-md-4 col-md-offset-1">
      <div class="right-title">
        <h2>Profile</h2>
      </div>
      <p>
        <%= t('Account') %>： <%= @user.username %>
      </p>
      <p>
        E-mail： <%= @user.email %>
      </p>
    </div>
  </div>
</div>
