
<h1>Hello, <%= current_user.username %> !</h1>
<p>
  <h4>
    <%= link_to "this user's Resumes", user_resumes_path(user_username: params[:username]) %>
  </h4>
</p>
<p>
  <h4>
    <%= link_to "your Resumes", user_resumes_path(user_username: current_user.username) %>
  </h4>
</p>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="row-fluid">
				<div class="span12">
					<h2>
						登録情報
					</h2>

					<p>
						アカウント：<%= current_user.username %>
					</p>
          <p>
            Eメール：　<%= current_user.email %>
          </p>
					<p>
						レジュメした件数：
					</p>
					<p>
						レジュメされた件数：
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
