<%= form_for([@user, @resume]) do |f| %>
  <% if @resume.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resume.errors.count, "error") %> prohibited this resume from being saved:</h2>

      <ul>
      <% @resume.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :sentence %><br>
    <%= f.text_field :sentence %>
  </div>
  <div class="field">
    <%= f.label :is_translation %><br>
    <%= f.check_box :is_translation %>
  </div>
  <div class="field">
    <%= f.label :owner_id %><br>
    <!--<%= f.number_field :owner_id %>-->
    <!--<%= f.select :owner_id, User.all.map { |u| [u.username, u.id] } %>-->
    <%= f.select :owner_id, {@user.username => @user.id} %>
  </div>
  <div class="field">
    <%= f.label :translator_id %><br>
    <!--<%= f.number_field :translator_id %>-->
    <!--<%= f.select :translator_id, User.all.map { |u| [u.username, u.id] } %>-->
    <%= f.select :translator_id, {current_user.username => current_user.id} %>

  </div>
  <div class="field">
    <%= f.label :language_id %><br>
    <%= f.select :language_id, Language.all.map { |l| [l.code, l.id] } %>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
