<p id="notice"><%= notice %></p>

<h1>Original Resume</h1>

<table>
  <thead>
    <tr>
      <th>Sentence</th>
      <th>Is translation</th>
      <th>Owner</th>
      <th>Translator</th>
      <th>Language</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% if resume = @resumes.first %>
      <tr>
        <td><%= resume.sentence %></td>
        <td><%= resume.is_translation %></td>
        <td><%= resume.owner.username %></td>
        <td><%= resume.translator.username %></td>
        <td><%= resume.written_language.code %></td>
      <% if current_user.id == resume.owner_id %>
        <td><%= link_to 'Edit', edit_resume_path(resume) %></td>
        <td><%= link_to 'Destroy', resume, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      </tr>
  
    <% elsif current_user.username == params[:username] %>
      <td><%= link_to 'New Resume', new_resume_path %></td>
    <% end %>
  </tbody>
</table>
  
<h1>Listing Translations</h1>

<table>
  <thead>
    <tr>
      <th>Sentence</th>
      <th>Is translation</th>
      <th>Owner</th>
      <th>Translator</th>
      <th>Language</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resumes.drop(1).each do |resume| %>
      <tr>
        <td><%= resume.sentence %></td>
        <td><%= resume.is_translation %></td>
        <td><%= resume.owner.username %></td>
        <td><%= resume.translator.username %></td>
        <td><%= resume.written_language.code %></td>
      <% if current_user.id == resume.translator_id or current_user.id == resume.owner_id %>  
        <td><%= link_to 'Edit', edit_resume_path(resume) %></td>
        <td><%= link_to 'Destroy', resume, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


