<% user = params[:user_username]  %>
<% resume = @original_resumes.first %>
<p class="bg-info">
  <h2 class='text-center'><%= user %>'s Resume and Translations</h2>
</p>

<div class = "container">
  <div class = "row form-resume">
    <% if resume.present? %>
        <div class = "resume-title">
          lang: <%= resume.written_language.code %>
        </div>
        <div class = "resume-content">
          <%= simple_format(h(resume.sentence)) %>
        </div>
        <% if current_user.id == resume.owner_id %>
            <%= link_to 'Edit', edit_user_resume_path(id: resume.id), class: 'btn btn-default btn-sm' %>
            <%= link_to 'Delete', user_resume_path(id: resume.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
        <% end %>

        <% unless current_user.username == params[:user_username] || resume.blank? %>
            <%= link_to 'New Translation', new_user_resume_path, class: 'btn btn-default btn-sm' %>
        <% end %>


    <% elsif current_user.username == params[:user_username] %>
        <%= link_to 'New Resume', new_user_resume_path(user_username:current_user.username), class: 'btn btn-default' %>
    <% end %>
  </div>

  <% @translated_resumes.each do |resume| %>
      <div class = "row form-resume">
        <% if resume.present? %>
            <div class = "resume-title">
              <span class="glyphicon glyphicon-user" area-hidden="true"></span>Translator: <%= link_to resume.translator.username, user_resumes_url(user_username: resume.translator.username) %> lang: <%= resume.written_language.code %>
            </div>
            <div class = "resume-content">
              <%= simple_format(h(resume.sentence)) %>
            </div>
            <% if current_user.id == resume.owner_id || current_user.id == resume.translator_id %>
                <%= link_to 'Edit', edit_user_resume_path(id: resume.id), class: 'btn btn-default btn-sm' %>
                <%= link_to 'Delete', user_resume_path(id: resume.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
            <% end %>
        <% end %>


      </div>
  <% end %>


</div>
        <!-- Link to create translation resumes in Other User's Resume -->
<%# if current_user.username != params[:user_username] && resume.present? %>
