<%- model_class = Resume -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:sentence) %></th>
      <th><%= model_class.human_attribute_name(:is_translation) %></th>
      <th><%= model_class.human_attribute_name(:owner_id) %></th>
      <th><%= model_class.human_attribute_name(:translator_id) %></th>
      <th><%= model_class.human_attribute_name(:language_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @resumes.each do |resume| %>
      <tr>
        <td><%= link_to resume.id, resume_path(resume) %></td>
        <td><%= resume.sentence %></td>
        <td><%= resume.is_translation %></td>
        <td><%= resume.owner_id %></td>
        <td><%= resume.translator_id %></td>
        <td><%= resume.language_id %></td>
        <td><%=l resume.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_resume_path(resume), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      resume_path(resume),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_resume_path,
            :class => 'btn btn-primary' %>
