<% user = params[:user_username]  %>
<p class="bg-info">
  <h2 class='text-center'><%= user %>'s Resume and Translations</h2>
</p>

<table class="table resume-table">
  <% resume = @original_resumes.first %>
  <thead>
    <tr>
      <th class="col-md-8 resume"><%= user %>'s Resume</th>
      <th class="col-md-4">Info</th>
      <!-- <th>Owner</th>
      <th>Translator</th>
      <th>Language</th>
      <th colspan="2"></th> -->
    </tr>
  </thead>

  <tbody>
      <tr>
        <% if resume.present? %>
          <td class="col-md-8 resume"><%= simple_format(h(resume.sentence)) %></td>
          <td class="col-md-4 info">
            <ul>
              <li>owner: <%= resume.owner.username %></li>
              <li>lang: <%= resume.written_language.code %></li>
              <% if current_user.id == resume.owner_id %>
                <li><%= link_to 'Edit', edit_user_resume_path(id: resume.id), class: 'btn btn-default btn-sm' %></li>
                <li><%= link_to 'Delete', user_resume_path(id: resume.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %></li>
              <% end %>
            </ul>
          </td>
        <% elsif current_user.username == params[:user_username] %>
          <td class="col-md-8"><%= link_to 'New Resume', new_user_resume_path(user_username:current_user.username), class: 'btn btn-default' %></td>
        <% end %>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th class="col-md-8 resume"><%= user %>'s Translations</th>
        <th class="col-md-4">Info</th>
        <!-- <th>Owner</th>
        <th>Translator</th>
        <th>Language</th>
        <th colspan="2"></th> -->
      </tr>
    </thead>
    <% @translated_resumes.each do |resume| %>
      <tr>
        <td class="col-md-8 resume"><%= simple_format(h(resume.sentence)) %></td>
        <td class="col-md-4 info">
          <ul>
            <li>translator: <%= resume.translator.username %></li>
            <li>lang: <%= resume.written_language.code %></li>
            <% if current_user.id == resume.translator_id or current_user.id == resume.owner_id %>
              <li><%= link_to 'Edit', edit_user_resume_path(id: resume.id), class: 'btn btn-default btn-sm' %></li>
              <li><%= link_to 'Delete', user_resume_path(id: resume.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %></li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- Link to create translation resumes in Other User's Resume -->
<%# if current_user.username != params[:user_username] && resume.present? %>
<% unless current_user.username == params[:user_username] || resume.blank? %>
  <%= link_to 'new Translation Resume', new_user_resume_path %>
<% end %>
