<p id="notice"><%= notice %></p>

<%= debug @debug %>

<h1>Original Resume</h1>

<table>
  <thead>
    <tr>
      <th>Sentence</th>
      <th>Is translation</th>
      <th>Owner</th>
      <th>Translator</th>
      <th>Language</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% resume = @resumes.first %>
      <tr>
        <td><%= resume.sentence %></td>
        <td><%= resume.is_translation %></td>
        <td><%= resume.owner.username %></td>
        <td><%= resume.translator.username %></td>
        <td><%= resume.written_language.code %></td>
        <td><%= link_to 'Show', user_resume_path(id: resume.id) %></td>
        <td><%= link_to 'Edit', edit_user_resume_path(id: resume.id) %></td>
        <td><%= link_to 'Destroy', user_resume_path(id: resume.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  </tbody>
</table>

<%= link_to 'New Resume', new_user_resume_path %>

<h1>Listing Translations</h1>

<table>
  <thead>
    <tr>
      <th>Sentence</th>
      <th>Is translation</th>
      <th>Owner</th>
      <th>Translator</th>
      <th>Language</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resumes.drop(1).each do |resume| %>
      <tr>
        <td><%= resume.sentence %></td>
        <td><%= resume.is_translation %></td>
        <td><%= resume.owner.username %></td>
        <td><%= resume.translator.username %></td>
        <td><%= resume.written_language.code %></td>
        <td><%= link_to 'Show', user_resume_path(id: resume.id) %></td>
        <td><%= link_to 'Edit', edit_user_resume_path(id: resume.id) %></td>
        <td><%= link_to 'Destroy', user_resume_path(id: resume.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

