<p id="notice"><%= notice %></p>

<!-- link_to 'My Resume', new_resume_path -->
<!-- link_to 'My Page', new_resume_path -->
<h1>Listing Other's Resumes</h1>

<%= form_tag('/resumes', method:"get") do %>
  <%= @selected_lang_id %>
  <select name="language_id">
    <% Language.all.each do |lang| %>
      <% if lang[:id] == @selected_lang_id.to_i %>
        <option value="<%= lang[:id] %>" selected><%= lang[:code] %></option>
      <% else %>
        <option value="<%= lang[:id] %>"><%= lang[:code] %></option>
      <% end %>
    <% end %>
  </select>
  <%= submit_tag(['Search']) %>
<% end %>

<table border="1">
  <tr>
    <th>Sentence</th>
    <th>Is translation</th>
    <th>Owner</th>
    <th>Translator</th>
    <th>Language</th>
  </tr>
  <% @resumes.each do |r| %>
  <tr>
    <td><%= r.sentence %></td>
    <td><%= r.is_translation %></td>
    <td><%= r.owner_id %></td>
    <td><%= r.translator_id %></td>
    <td><%= r.language_id %></td>
  </tr>
  <% end %>
</table>

<br>
