<p id="notice"><%= notice %></p>

<%= link_to 'My Resume', new_resume_path %>
<%= link_to 'My Page', new_resume_path %>
<h1>Listing Other's Resumes</h1>

<%# search_form_for を使うことで検索フォームを作成 %>
<%= search_form_for @search do |f| %>

  <%= f.label :owner_username_cont, "Owner" %>
  <%= f.search_field :owner_username_cont %>
<br />
  <%= f.label :translator_username_cont, "Translator" %>
  <%= f.search_field :translator_username_cont %>
<br />
 <%= f.label :written_language_code_cont, "Written_language" %>
 <%= f.search_field :written_language_code_cont %>
<br />
 <%= f.label :is_translation_cont, "Is translation" %>
 <%= f.search_field :is_translation_cont %>
<br />
 <%= f.label :sentence_start, "Sentence" %>
 <%= f.search_field :sentence_start %>
<br />

<%# 検索ボタン %>
 <%= f.submit %>
<% end %>

<hr />

<table>
  <thead>
    <tr>
      <th>Sentence</th>
      <th>Is translation</th>
      <th><%= sort_link(@search, :Owner) %></th>
      <th><%= sort_link(@search, :Translator) %></th>
      <th>Language</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resumes.each do |resume| %>
      <tr>
        <td><%= resume.sentence %></td>
        <td><%= resume.is_translation %></td>
        <td><%= resume.owner.username %></td>
        <td><%= resume.translator.username %></td>
        <td><%= resume.written_language.code %></td>
        <td><%= link_to 'Show', resume %></td>
        <td><%= link_to 'Edit', edit_resume_path(resume) %></td>
        <td><%= link_to 'Destroy', resume, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resume', new_resume_path %>
