<p id="notice"><%= notice %></p>

<p>
  <strong>Sentence:</strong>
  <%= @resume.sentence %>
</p>

<p>
  <strong>Is translation:</strong>
  <%= @resume.is_translation %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @resume.owner.username %>
</p>

<p>
  <strong>Translator:</strong>
  <%= @resume.translator.username %>
</p>

<p>
  <strong>Language:</strong>
  <%= @resume.written_language.code %>
</p>

<%= link_to 'Edit', edit_resume_path(@resume) %> |
<%= link_to 'Back', resumes_path %>
