<nav>
  <% if user_signed_in? %>
    <p>Logged in as <strong><%= current_user.email %></strong>.</p>
    <%= link_to 'Profile editting', edit_user_registration_path %> |
    <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to 'Sign up', new_user_registration_path %> |
    <%= link_to 'Log in', new_user_session_path %>

  <% end %>

</nav>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
